*{
margin:0;
padding:0;
box-sizing:border-box;
scroll-behavior:smooth;
}

body{
font-family:'Poppins',sans-serif;
background:url("https://www.transparenttextures.com/patterns/paper-fibers.png");
background-color:#f5ede3;
color:#5a4634;
cursor:none;
}

.navbar{
position:fixed;
top:0;
width:100%;
background:#f1e4d3;
display:flex;
justify-content:space-between;
padding:15px 10%;
box-shadow:0 2px 10px rgba(0,0,0,0.1);
z-index:1000;
}

.navbar ul{
list-style:none;
display:flex;
gap:20px;
}

.navbar a{
text-decoration:none;
color:#5a4634;
font-weight:500;
}

.cursor{
width:18px;
height:18px;
background:#d8b89c;
border-radius:50%;
position:fixed;
pointer-events:none;
z-index:9999;
}

.cover{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
padding-top:60px;
}

.paper{
background:#fff8ef;
padding:70px;
border-radius:15px;
box-shadow:12px 12px 25px rgba(0,0,0,0.1);
text-align:center;
animation:float 4s ease-in-out infinite;
position:relative;
}

@keyframes float{
0%,100%{transform:translateY(0);}
50%{transform:translateY(-12px);}
}

h1{
font-family:'Playfair Display',serif;
font-size:48px;
}

.tagline{
margin-top:10px;
font-size:18px;
}

.sticker{
position:absolute;
width:60px;
top:-30px;
right:-30px;
}

.section{
padding:100px 12%;
}

.scrap-card{
background:#fff8ef;
padding:40px;
margin:40px 0;
border-radius:20px;
box-shadow:10px 10px 20px rgba(0,0,0,0.08);
transform:rotate(-1deg);
position:relative;
}

.polaroid{
background:white;
padding:15px 15px 40px;
width:220px;
box-shadow:0 10px 20px rgba(0,0,0,0.15);
transform:rotate(-4deg);
margin-bottom:20px;
}

.polaroid img{
width:100%;
border-radius:5px;
}

.skills span{
display:inline-block;
background:#e8d5b7;
padding:8px 16px;
margin:6px;
border-radius:20px;
}
.project{
margin-top:20px;
}

.project a{
display:inline-block;
margin-top:8px;
text-decoration:none;
background:#d9b99b;
padding:8px 15px;
border-radius:15px;
color:white;
}

.links a{
text-decoration:none;
background:#d9b99b;
padding:10px 18px;
margin:8px;
border-radius:20px;
color:white;
display:inline-block;
transition:0.3s;
}

.links a:hover{
background:#b08968;
transform:scale(1.1);
}

.fade-in{
opacity:0;
transform:translateY(40px);
transition:1s;
}

.fade-in.show{
opacity:1;
transform:translateY(0);
}

footer{
text-align:center;
padding:30px;
background:#e8dcc8;
}
